/* 푸터 */

footer {
    bottom:0;
    display:block;
    width:100%;
    background:#fff;
}

.footer-wrap{
    margin:1.3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-wrap > * {
    margin:0.7rem auto;
}

.copyright {
}

.footer-wrap > *:not(.copyright) {
}

.footer-txt {
  color:#555;
  font-size:0.9rem;
  text-align:center;
}
