* {
  box-sizing: border-box;
  margin: 0 auto;
  padding:0;
}

a{
  text-decoration: none;
  color: #fff;
}

ul, ol {
  list-style: none;
}

.container {
  background: #22bbfc;
  width:100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#canvas {
  position: fixed;
  left:0;
  width:100%;
  height:100%;
}

.wrap {
  padding: 1rem;
  background: rgba(250,250,250,0.64);
  width: 250px;
  border-radius: 7px;
  position: relative;
  z-index: 2;
}

.wrap h1 {
  font-size: #333;
  width: 100%;
  text-align: center;
}

.menus {
  padding: 1rem;
}

.menu {
  width:100%;
  margin:1rem 0;
  height:60px;
}
.menu *{transition: all 0.4s;}

.menu::after {
  content: '';
  transition: all 0.4s;
  width:100%;
  height:20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #146db6;
  display: block;
  position: relative;
  margin-top:-14px;
}

.menu a{
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width:100%;
  padding: 1rem;
  background: #3f9ae6;
  border-radius: 4px;
  font-size: 0.96rem;
  position: relative;
  z-index: 2;
}
.menu:hover a {
  margin-top:4px;
  background: #3477b5;
  margin-bottom:-10px;
}
