/* 포스팅 아이템 */
.post-list-item {
    padding: 1.6rem 5rem;

}
.post-list-item a {
    width:100%;
    height: 100%;
    display: inline-block;
    border: 0.3px solid #bbb;
    /* box-shadow: 2px 2px 5px 2px #888888; */
    padding: 1.6rem;
}
.post-list-item .categories {
    margin-top:20px;
    display:inline-block;
}
.post-list-item .category {
    background: #422ba8;
    display: inline-block;
    border-radius: 6px;
    float:left;
    margin:0.4rem 0.6rem;
    padding:0.3rem 0.6rem;
    color:#fff;
    font-size:0.85rem;
}
.post-list-item .date {
    color: #444;
    font-size: 0.81rem;

}
