@import './master';

$bg_gradient1: #c6ea8d;
$bg_gradient2: #fe90af;

*{
  margin:0 auto;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
  color: #222;
  font-family: 'Barlow', sans-serif;
}

ul, ol {
  list-style: none;
}

button {
  border:none;
  background: none;
}

body {
  background: linear-gradient(310deg, $bg_gradient1, $bg_gradient2);
}

#root {
  width:100%;
  display:inline-block;

  .container {
    max-width:1020px;
  }
}
