<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>Welcome to Sproutseed!</title>
</head>

<body>
  <div class="container">
    <div class="main">
      <div class="animation">
        <div class="visual-b"></div>
        <div class="inner">
          <img src="/assets/images/sprout.svg" />
        </div>
      </div>
      <div class="visual">
        <h2>블로그 준비중 입니다.</h2>
        <div>완성 될 때까지 조금만 기다려 주세요.</div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-tl"></div>
      <div class="footer-copy">2019 &copy; SproutSeed. All rights reserved.</div>
    </div>
  </div>
</body>

</html>
