<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <meta name="shortcut icon" href="/assets/images/favicon.ico">
  <meta name="icon" href="/assets/images/favicon.ico">
</head>
<body>


  {% if page.title == "post_list" %}
    <script>
      const react_mode = "list";
    </script>
  {% else %}
    <script>
      const react_mode = "item";
      const title = "{{ page.title }}";
      const content = `{{ page.content }}`;
      const written_date = "{{ page.written_date }}";
      const categories = "{{ page.written_date}}";
    </script>

  {% endif %}
  <div id="root">

  </div>
  <script src="/assets/js/post/dist/main.bundle.js"></script>
</body>
</html>
