<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


  {% if page.title == "post_list" %}
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    <script>
      const react_mode = "list";
    </script>
  {% else %}
    {{ page.title }}

    {{ page.content }}
    <script>
    const react_mode = "item";
      const title = "{{ page.title }}";
      const content = `{{ page.content }}`;
    </script>
    <div id="root">

    </div>
  {% endif %}
  <script src="/assets/js/post/dist/main.bundle.js"></script>
</body>
</html>
